body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.nav {
  justify-content: space-evenly;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  color: black;
  display: block;
  line-height: 60px;
  height: 60px;
}

.header {
  color: #fff;
  max-width: 100vw;
  padding: 0 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: 40px;
  padding: 0;
}

.header__menu {
  list-style-type: none;
}

.menue__item {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
